<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-titulo">Lista de tarefas</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/tarefas">Pesquisar tarefa</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/tarefas/nova">Cadastrar tarefa</a></li>
  </ul>
</nav>