<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g-12">
          <h1>Tarefas</h1>
        </div>
    
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>Título</label>
          <input pInputText type="text" name="titulo" [(ngModel)]="filtro.titulo">
        </div>
    
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
        </div>
    
        <div class="ui-g-6 ui-sm-12">
          <label style="display: block;">Data de criação</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ 'width': '95px'}"
            name="dataCriacaoInicio" [(ngModel)]="filtro.dataCriacaoInicio" [readonlyInput]="true" [showIcon]="true">
          </p-calendar>
          <label style="margin-left: 30px">até</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ 'width': '95px' }"
            name="dataCriacaoFim" [(ngModel)]="filtro.dataCriacaoFim" [readonlyInput]="true" [showIcon]="true">
          </p-calendar>
        </div>
    
        <div class="ui-g-6 ui-sm-12">
          <label style="display: block;">Status</label>
            <p-selectButton [options]="situacoes" name="status" [(ngModel)]="filtro.status"></p-selectButton>
        </div>
    
        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
      </form>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="tarefas" [responsive]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>

        <ng-template pTemplate="header">
          <tr>
            <th width="25%">Título</th>
            <th width="45%">Descrição</th>
            <th width="15%">Status</th>
            <th width="8%">Data Criação</th>
            <th width="7%"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tarefa>
          <tr>
            <td>{{tarefa.titulo}}</td>
            <td>{{tarefa.descricao}}</td>
            <td>
              <a href="javascript:;" [pTooltip]="tarefa.status ? 'Reativar' : 'Concluir'"
                  tooltipPosition="top" (click)="alternarStatus(tarefa)">
                {{ tarefa.status ? 'Concluída' : 'Em andamento' }}
              </a>
            </td>
            <td class="col-data">{{ tarefa.dataCriacao | date:'dd/MM/yyyy' }}</td>
            <td class="col-acoes">
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/tarefas', tarefa.codigo]"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(tarefa)">
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma tarefa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="Nova tarefa" routerLink="/tarefas/nova"></a>
  </div>
</div>
