/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
  }
  
  label {
    font-weight: bold;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1500px;
      margin: 0 auto;
    }
  }

  .col-data {
    text-align: center;
  }
  
  .col-acoes {
    text-align: center;
  }