<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de' : 'Nova' }} tarefa</h1>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>Título</label>
          <input pInputText type="text" name="titulo" [(ngModel)]="tarefa.titulo" #titulo="ngModel"
            required minlength="3" maxlength="20">
          <app-message [control]="titulo" error="required" text="Informe um título"></app-message>
          <app-message [control]="titulo" error="minlength" text="Mínimo de {{ titulo.errors?.minlength?.requiredLength }} caracteres."></app-message>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <textarea pInputTextarea rows="3" name="descricao" [(ngModel)]="tarefa.descricao" #descricao="ngModel"
            required minlength="3" maxlength="500"></textarea>
          <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
          <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres."></app-message>
        </div>
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data de criação</label>
          <p-calendar dateFormat="dd/mm/yy" name="dataCriacao" [readonlyInput]="true" [disabled]="tarefa.codigo"
            [maxDate]="dataHoje"  [(ngModel)]="tarefa.dataCriacao" required>
          </p-calendar>
        </div>
        <div class="ui-g-12 ui-md-9">
            <label style="display: block;">Status</label>
            <p-selectButton name="status" [options]="situacoes" [(ngModel)]="tarefa.status" required></p-selectButton>
          </div>
        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton type="button" label="Nova" class="ui-button-info" (click)="nova(f)"></button>
          <a routerLink="/tarefas">Voltar para a pesquisa</a>
        </div>
      </div>
    </form>
  </div>